{
"plugins": ["prettier-plugin-svelte"],
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"htmlWhitespaceSensitivity": "ignore",
	"vueIndentScriptAndStyle": true,
	"embeddedLanguageFormatting": "auto",
	"singleAttributePerLine": true,
	"arrowParens": "always",
	"semi": true,
	"bracketSameLine": true,
}
