body {
}
.org-logo {
	border-radius: 12px;
	background-image: url(/orgdemo/xihuanwu/logo.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: cover;
}

.tnt-navmenu {
	background-image: url(/orgdemo/xihuanwu/xhw.png);
}

.tnt-navmenu .nav-item {
	text-align: center;
}

.tnt-navmenu .nav-link {
	color: #d8d4d0;
}
.tnt-navmenu .nav-link:hover {
	color: #9796ff;
}
.tnt-navmenu .nav-link.active {
	font-weight: bold;
	text-decoration: none;
	text-decoration-thickness: 1px;
	border-bottom: 1px solid #d8d4d0;
}
.tnt-navmenu .tnt-header-username {
	color: white;
	padding-left: 20px;
}

.tnt-navmenu a {
	color: #ffffff !important;
}
