<div class="template" id="wf1">
  <div class="node START" id="start">START</div>
  <div class="node ACTION" id="node1">
    Apply leave
    <div class="kvars">
      ICAgICAgICAgICAgeyJkYXlzIjogMywgCiAgICAgICAgInJlYXNvbiI6ICJzZWUgcGFyZW50In0=
    </div>
  </div>
  <div class="node ACTION" id="node2">Approve leave Team Leader</div>
  <div class="node ACTION" id="node3">Approve leave by Director2</div>
  <div class="node INFORM" id="inform1"></div>
  <div class="node SCRIPT" id="switch1">
    return (kvars.days<5)?'no_need_director':'need_director';
  </div>
  <div class="link" from="start" to="node1"></div>
  <div class="link" from="node1" to="node2"></div>
  <div class="link" from="node2" to="inform1" case="reject"></div>
  <div class="link" from="node2" to="switch1" case="approve"></div>
  <div class="link" from="switch1" to="node3" case="need_director"></div>
  <div class="link" from="node3" to="inform1"></div>
  <div class="link" from="switch1" to="inform1" case="no_need_director"></div>
  <div class="link" from="inform1" to="end"></div>
  <div class="node END" id="end">END</div>
</div>
<div></div>
